{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}PRINCIPAL{% endblock %}

{% block estilo %} <link rel="stylesheet" href="{% static  'css/style-perfil.css' %}"> {% endblock %}

{% block content %}
<a href="{% url 'principal' %}">IR A PRINCIPAL</a>


<div class="tarjeta_perfil-container">
        <span class="rol">{{usuario.rol}}</span>
        <img class="foto_perfil" src="{{ usuario.foto_perfil.url }}" alt="foto de perfil de {{usuario.username}}" />
        <h3>{{usuario.username}}</h3>
        <div class="bio">
            <p>{{ usuario.biografia }}</p>
        </div>
	<div class="skills">
		<h6>REDES SOCIALES</h6>
		<ul>
			<li>{{usuario.instagram}}</li>
			<li>{{usuario.tiktok}}</li>
			<li>{{usuario.otras_rrss}}</li>
            <li>{{usuario.email}}</li>
		</ul>
	</div>
</div>
<div class="buttons">
    <a href="{% url 'perfil_actualizar' %}" class="btn btn-primary">
        ACTUALIZAR
    </a>
    <a href="{% url 'perfil_borrar' %}" class="btn btn-danger">
        BORRAR PERFIL
    </a>
</div>   
{% endblock %}