{% extends 'principales/base.html' %}

{% load crispy_forms_tags %}

{% block basePrincipal %}




<div class="container">
  <div class="card shadow-sm">
      <div class="card-body">
          <h5 class="card-title">Ofertas</h5>
          <table class="table table-hover">
              <thead class="table-dark">
                  <tr>
                      <th>Foto</th>
                      <th>Nombre</th>
                      <th>Modelo</th>
                      <th>Precio</th>
                      <th>Stock</th>
                      <th>Marca</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for oferta in ofertas %}
                  <tr>
                      <td>{% if producto.foto %}
                          <img style="max-width: 100px; max-height: 100px" src="{{ producto.foto.url }}" class='img-productos'>
                          {% endif %}
                      </td>
                      <td>
                          <a href="{% url 'producto_detalle' producto.pk %}">
                              {{ producto.nombre }}
                          </a>
                      </td>
                      <td>
                          {{ producto.modelo }}
                      </td>
                      <td>
                          {{ producto.precio }}
                      </td>
                      <td>
                          {{ producto.unidades }}
                      </td>
                      <td>
                          {{ producto.marca }}
                      </td>
                      <td>
                          {% if user.is_staff %}
                          <a href="{% url 'producto_editar' pk=producto.pk %}" class="btn btn-sm btn-info">Editar</a>
                          <a href="{% url 'producto_borrar' pk=producto.pk %}"class="btn btn-sm btn-danger" >Borrar</a>
                          
                          {% else %}
                         
                          <form action="{% url 'checkout' producto.pk %}" method="get">
                              {% csrf_token %}
                              {{ compra_form.as_div }}
                              <button type="submit" class="btn btn-sm btn-info">Comprar</button>
                          </form>
                          {% endif%}
                      </td>
                      
                  </tr>

                  {% empty %}
                  <p> No hay productos</p>
                  {% endfor %}
              </tbody>
          </table>
          {% if user.is_staff %}
              <a href="{% url 'crear' %}" class="btn btn-sm btn-info">Crear producto</a>
          {% endif %}
      </div>
  </div>
</div>





<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="my-5 display-3 fw-bold ls-tight text-center">Actualizar 
                    <span class="text-warning">Perfil</span>
                  </p>
                  
                  <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}

                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Actualizar</button>
                        </div>

                    </form>
  
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}



