html, body {
  background-color: #002233;
  margin: 0;
  padding: 0;

  height: 100%;

}

nav {
  margin-top: 0px;
  padding: 24px;
  text-align: center;
  background-color: #3d1362;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}

.link-3 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;

  padding: 20px 0;
  margin: 0 20px;
}
.link-3:hover {
  border-top: 4px solid #ffcd69;
  border-bottom: 4px solid #ffcd69;
  padding: 6px 0; 
}

h1 {
text-align: center;
font-size: 4rem;
color: #e1e3e7;
}


.inicio-sesion {
margin: auto;
width: 25%;
background-color: #e1e3e7;
padding: 5px 5px 5px 5px;
border-radius: 10px;
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
text-align: center;



}

.inicio-sesion h1 {
  font-size: 2rem;
  color: #002233;
}

.form-botones {
 
}

.enlace-registro {
  font-style: none;
  
}

.btn {
  margin: 30px;
  color: #0b0b0b;
  transition: 0.25s;
  padding: 5px 25px;

}
  
.btn:hover,
.btn:focus { 
    border-color: #fff;
    
    color: #e66885;
  }


.btn:hover,
.btn:focus {
box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
transform: translateY(-0.50em);
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
}