{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}CREAR{% endblock %}

{% block estilo %} <link rel="stylesheet" href="{% static  'css/style-listaofertas.css' %}"> {% endblock %}

{% block content %}
<a href="{% url 'principal' %}" class="btn btn-primary">IR A PRINCIPAL</a>

<a href="{% url 'perfil' %}" class="btn btn-success">IR A PERFIL</a>

<div class="listado_ofertas">
    <ul>
        {% for oferta in ofertas %}
            <div class="tarjeta_perfil-container">
                <span class="rol">{{oferta.usuario.rol}}</span>
                <span class="estado">{{ oferta.estado }}</span>
                <img class="foto_perfil" src="{{ oferta.usuario.foto_perfil.url }}" alt="foto de perfil de {{usuario.username}}" />
                <h3>{{ oferta.usuario.username }}</h3>
                <div class="bio">
                    <p>{{ oferta.descripcion }}</p>
                </div>
            <div class="skills">
                <h6>COSAS</h6>
                <ul>
                    <li><p><strong>Requisitos: </strong>{{ oferta.requisitos }}</p></li>
                    <li><p><strong>Plataforma: </strong> {{ oferta.plataformas }}</p></li>
                    <li><p><strong>Otra Plataforma: </strong> {{ oferta.otra_plataforma }}</p></li>
                    <li><p><strong>Publicado en: </strong> {{ oferta.fecha_publicacion }}</p></li>
                    <li><p><strong>Fecha expiracion: </strong> {{ oferta.fecha_expiracion }}</p></li>
                </ul>
            </div>
        </div>
        {% empty %}
            <p>No hay ofertas disponibles.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}