{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/style-registration.css' %}">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Jersey+15&display=swap" rel="stylesheet">
</head>
<body>
    <h1>INICIO SESION</h1>
    <div class="cuadro-login">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="boton-iniciar">Iniciar sesión</button>
            <p>¿No tienes una cuenta? <a href="{% url 'admin:index' %}">Contacta al administrador</a></p>
        </form>
    </div>  
    
</body>
</html>