{% extends 'base.html' %}
{% load static %}
{% block titulo %}PRINCIPAL{% endblock %}
{% block estilo %} <link rel="stylesheet" href="{% static  'css/style-principal.css' %}"> {% endblock %}


{% block content %}

    {% if user.is_authenticated %}
    
        <h4 class="saludo">Hola {{usuario.username}}</h4>
        <img class="foto_perfil" src="{{ usuario.foto_perfil.url }}" alt="foto de perfil de {{usuario.username}}"/>

        <div class="boton-lista-ofertas">
            <a href="{% url 'lista_ofertas' %}" class="btn btn-warning">VER OFERTAS</a>
        </div>

        <div class="botones-sesion">
            <a href="{% url 'perfil' %}" class="btn btn-success">IR A MI PERFIL</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %} 
                <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
            </form>
        </div>

    {% else %}
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>

    {% endif %}

    
{% endblock %}