{% extends 'base.html' %}
{% load static %}
{% block titulo %}PRINCIPAL{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    
        <h1>hola {{usuario.username}}</h1><img class="foto_perfil" src="{{ usuario.foto_perfil.url }}" alt="foto de perfil de {{usuario.username}}" />

        <a href="{% url 'perfil' %}" class="btn btn-success">IR A MI PERFIL</a>
        <a href="{% url 'lista_ofertas' %}" class="btn btn-warning">VER OFERTAS</a>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>

    {% else %}
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>

    {% endif %}

    
{% endblock %}